/Curso Java Foundations/Curso_Java_Foundations_Pratica/nbproject/private/
/Curso Java Foundations/HelloWorld/nbproject/private/
/Curso Java Foundations/HelloWorld/build/
/Curso Java Foundations/secao2_2/nbproject/private/
/Curso Java Foundations/JavaApplication7/nbproject/private/
/Curso Java Foundations/secao2_2/build/
/Curso Java Foundations/secao2_2_Ex2/nbproject/private/
/Curso Java Foundations/secao2_2_Ex2/build/
/Curso Java Foundations/secao2_2_Ex3/nbproject/private/
/Curso Java Foundations/secao2_2_Ex3/build/
/Curso Java Foundations/secao2_2_Praticas/nbproject/private/
/Curso Java Foundations/secao2_2_Praticas/build/
/Curso Java Foundations/secao3_1_Ex1/nbproject/private/
/Curso Java Foundations/secao3_1_Ex1/build/
/Curso Java Foundations/secao3_1_Ex2/nbproject/private/
/Curso Java Foundations/secao3_1_Ex2/build/
/Curso Java Foundations/secao3_2_Ex1/nbproject/private/
/Curso Java Foundations/secao3_1_Ex3/nbproject/private/
/Curso Java Foundations/secao3_2_Ex2/nbproject/private/
/Curso Java Foundations/secao3_2_Ex2/build/
/Curso Java Foundations/secao3_3_Ex1/nbproject/private/
/Curso Java Foundations/secao3_3_Ex1/build/
/Curso Java Foundations/secao3_3_Ex2/nbproject/private/
/Curso Java Foundations/secao3_3_Ex2/build/
/Curso Java Foundations/secao3_4_Ex1/nbproject/private/
/Curso Java Foundations/secao3_4_Ex1/build/
/Curso Java Foundations/secao3_4_Ex2/nbproject/private/
/Curso Java Foundations/secao3_4_Ex2/build/
/Curso Java Foundations/secao3_4_Ex3/nbproject/private/
/Curso Java Foundations/secao3_4_Ex3/build/
/Curso Java Foundations/secao3_5_Ex1/nbproject/private/
/Curso Java Foundations/secao3_5_Ex1/build/
/Curso Java Foundations/secao3_5_Ex2/nbproject/private/
